USE [master]
GO
/****** Object:  Database [BuildResumeAi]    Script Date: 02-09-2025 22:44:14 ******/
CREATE DATABASE [BuildResumeAi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BuildResumeAi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BuildResumeAi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BuildResumeAi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BuildResumeAi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BuildResumeAi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BuildResumeAi]
GO
/****** Object:  Table [dbo].[AppUser]    Script Date: 02-09-2025 22:44:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 02-09-2025 22:44:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResumeId] [int] NOT NULL,
	[Institution] [nvarchar](200) NULL,
	[Degree] [nvarchar](200) NULL,
	[FieldOfStudy] [nvarchar](200) NULL,
	[StartYear] [int] NULL,
	[EndYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Experience]    Script Date: 02-09-2025 22:44:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experience](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResumeId] [int] NOT NULL,
	[Company] [nvarchar](200) NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[StartYear] [int] NULL,
	[EndYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resume]    Script Date: 02-09-2025 22:44:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resume](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Summary] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppUser] ON 

INSERT [dbo].[AppUser] ([Id], [FullName], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (1, N'System Admin', N'admin@resumebuilder.com', N'$2a$11$mXJEdgeSJv4WCyzsXKD5geCmazjShy68GubsIBSZMlzJmy7bq5dtS', 2, CAST(N'2025-08-30T10:27:26.8009081' AS DateTime2))
INSERT [dbo].[AppUser] ([Id], [FullName], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (2, N'dan', N'dan@gmail.com', N'$2a$11$3.YhaZnH8JWtXnsZR2t18e8aEUnlAOvUlpRsO8F1EloZD0kPrxQBK', 1, CAST(N'2025-09-02T15:05:11.4354954' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AppUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Education] ON 

INSERT [dbo].[Education] ([Id], [ResumeId], [Institution], [Degree], [FieldOfStudy], [StartYear], [EndYear]) VALUES (1016, 1, N'xlkrjfol', N'kiwjril', N'xkijroi', 1111, 1111)
SET IDENTITY_INSERT [dbo].[Education] OFF
GO
SET IDENTITY_INSERT [dbo].[Experience] ON 

INSERT [dbo].[Experience] ([Id], [ResumeId], [Company], [Title], [Description], [StartYear], [EndYear]) VALUES (1014, 1, N'xwekjfhdoix', N'xe,rkfn', N'wx,fndjl', 1111, 1111)
SET IDENTITY_INSERT [dbo].[Experience] OFF
GO
SET IDENTITY_INSERT [dbo].[Resume] ON 

INSERT [dbo].[Resume] ([Id], [UserId], [Title], [Summary], [CreatedAt], [UpdatedAt]) VALUES (1, 2, N'rjtngkjg', N'kxjerfke', CAST(N'2025-09-02T15:06:28.1809163' AS DateTime2), CAST(N'2025-09-02T15:06:28.1809165' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Resume] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AppUser__A9D10534E30E4DAA]    Script Date: 02-09-2025 22:44:15 ******/
ALTER TABLE [dbo].[AppUser] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppUser] ADD  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[AppUser] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Resume] ADD  DEFAULT ('Untitled') FOR [Title]
GO
ALTER TABLE [dbo].[Resume] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Resume] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Education]  WITH CHECK ADD FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Resume] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Experience]  WITH CHECK ADD FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Resume] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resume]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUser] ([Id])
ON DELETE CASCADE
GO
USE [master]
GO
